.body {
  width: 82vw;
  min-height: 100vh;
  margin-left: 300px;
}
.headBody {
  height: 10vh;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.barIcon {
  font-size: 1.8rem;
  color: black;
  cursor: pointer;
}
.user {
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 150px;
}
.user span {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  padding: 6px 12px 6px 40px;
  border: 1px solid rgb(185, 176, 176, 0.4);
  box-shadow: 2px 0px 2px rgb(185, 176, 176, 0.4);
  font-weight: 600;
  position: relative;
  background-color: white;
}
.user .rounded-image {
  background-color: white;
  left: -10px;
  top: 10px;
  position: absolute;
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  border-radius: 50%; /* Makes the element circular */
  overflow: hidden;
  z-index: 7; /* Ensures the content within the rounded area is hidden */
}
.deconnectionBox {
  position: absolute;
  padding: 8px 10px 6px 10px;
  border: 1px solid rgb(185, 176, 176, 0.4);
  box-shadow: 2px 0px 2px rgb(185, 176, 176, 0.4);
  right: 0;
  top: 50px;
  background-color: white;
}
.deconnectionBox:hover {
  color: red;
}
.user .rounded-image img {
  width: 100%;
  height: 120%;
  object-fit: cover; /* Ensures the image covers the rounded area */
}
@media (max-width: 1160px) {
  .body {
    margin-left: 0;
    width: 100vw;
  }
  .headBody {
    justify-content: space-between;
    background-color: #f1f1fc;
  }
}

@media (max-width: 850px) {
  .user span {
    font-size: 0.8rem;
  }
  .user .rounded-image {
    height: 35px;
    width: 35px;
    top: 15px;
  }
  .barIcon {
    font-size: 1.5rem;
  }
  .deconnectionBox {
    font-size: 0.9rem;
  }
  .deconnectIcon {
    margin-left: 5px;
  }
}
@media (max-width: 600px) {
  .headBody {
    padding: 0 25px;
  }
  .deconnectIcon {
    margin-left: 2px;
  }
}
@media (max-width: 500px) {
  .user span {
    font-size: 0.7rem;
  }
  .deconnectionBox {
    font-size: 0.7rem;
    left: 32px;
    top: 48px;
  }
  .user .rounded-image {
    height: 32px;
    width: 32px;
    top: 18px;
    left: -5px;
  }
  .barIcon {
    font-size: 1.3rem;
  }
  .headBody {
    padding: 0 10px;
    height: 9vh;
  }
}
