.headList{
    display: flex;
    width: 90%;
    margin-left: 5%;
    background-color: #f1f1fc;
    height: 38px;
    align-items: center;
    padding-left: 10px;
    color:#5356d0;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 500;
    border: 1px solid rgb(168, 168, 168);
    font-size: 1rem;
}
.lineList{
    background-color: white;
    color: black;
    font-size: 0.9rem;
}
.isEditing{
    color: white;
    background-color: rgb(181, 182, 236);
}
.isEditing input ,.isEditing select{
    padding: 0;
    margin: 0;
    width: 80%;
    border: none;
    color: white;
    background-color: rgb(181, 182, 236);
    box-shadow: 0 0 4px 2px rgb(0,0,0,0.1);
    border-radius: 20px;
    height: 30px;
    padding-left: 10px;
    margin-right: 20px;
}
.lineList input:focus{
    outline : none
}
.type{
    width: 13%;
}
.titre{
    width: 18%;
    margin-right: 5px;
}
.langue{
    width: 12%;
}
.webApp{
    width: 37%;
    margin-right: 5px;
}
.actions{
    width: 20%;
}
.actions{
    color :#5356d0;
    display: flex;
    justify-content: space-evenly;
}
.actions a {
    text-decoration: none;
}
.headList .isDeleting{
    text-decoration: line-through;
    color: rgba(62, 60, 60, 0.5);
}
@media (max-width: 950px) {
    .headList{
        font-size: 0.9rem;
    }
    .lineList,.isEditing input ,.isEditing select{
        font-size: 0.8rem;
    }
    .isEditing input ,.isEditing select{
        padding-left: 5px;
        margin-right: 5px;
    }
}
@media (max-width: 810px) {
    .headList{
        font-size: 0.9rem;
    }
    .lineList,.isEditing input ,.isEditing select{
        font-size: 0.7rem;
    }
    .actions{
        width: 17%;
    }
    .webApp{
        width: 40%;
    }
}
@media (max-width: 650px) {
    .headList {
        font-size: 0.8rem;
    }
    .lineList,.isEditing input ,.isEditing select{
        font-size: 0.7rem;
    }
}
@media (max-width:620px){
    .headList{
        width: 91%;
        margin-left: 4%;
    }
}
@media (max-width: 580px) {
    .headList {
        font-size: 0.7rem;
        padding-left: 4px;
        width: 97%;
        margin-left: 1%;
    }
    .lineList,.isEditing input ,.isEditing select{
        font-size: 0.6rem;
    }
    .isEditing input ,.isEditing select{
        padding-left: 2px;
        margin-right: 2px;
    }
    .webApp{
        margin-right: 2px;
        overflow-x: hidden;
        width: 36%;
    }
    .titre{
        margin-right: 2px;
        overflow-x: hidden;
        width: 19%;
    }
    .actions{
        font-size: 0.5rem;
    }
    .type{
        width: 16%;
    }
}    
@media (max-width: 420px) {
    .headList {
        font-size: 0.6rem;
    }
    .lineList,.isEditing input ,.isEditing select{
        font-size: 0.5rem;
        padding-left: 3px;
    }
    .actions{
        font-size: 0.4rem;
    }
}  
