.passwordForm {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
  height: 100%;
}
.passwordLine {
  padding-bottom: 0;
}
.passwordLine h3 {
  margin-bottom: 5px;
  color: #222e54;
  font-size: 0.9rem;
  font-weight: 500;
}
.passwordLine input {
  border: 1px solid rgb(214, 214, 214);
  background-color: white;
  height: 30px;
  padding: 0 10px;
  width: 90%;
}
.passwordLine input:focus {
  outline-color: rgb(83, 86, 208, 0.6);
}
.passwordLine input::placeholder {
  color: #222e54;
}
.passwordLine .messageErr {
  margin: 0;
  padding-top: 5px;
}
.passwordLine .messageErr p {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
}
@media (max-width: 800px) {
  .passwordLine h3 {
    font-size: 0.8rem;
  }
  .passwordLine .messageErr p {
    font-size: 0.7rem;
  }
}
@media (max-width: 580px) {
  .passwordLine h3 {
    font-size: 0.7rem;
  }
  .passwordLine input {
    font-size: 0.7rem;
    padding: 0 5px;
    width: 85%;
    height: 24px;
  }
  .passwordLine .messageErr p {
    font-size: 0.6rem;
  }
  .passwordForm {
    row-gap: 3px;
    column-gap: 5px;
  }
}
