.accueil {
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.accueilBoxes {
  margin-top: 2%;
  width: 90%;
  padding-bottom: 20px;
  display: grid;
  grid-template: auto auto auto;
  gap: 20px;
}
.accueilBox {
  box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.1);
  border-radius: 20px;
}
.bigBox {
  grid-column: span 3;
}
.modifications {
  background-color: white;
  padding: 20px;
}
.modificationsList {
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 5px;
}
.loader {
  margin-left: 45%;
}
.modificationsHead {
  display: flex;
  justify-content: space-between;
}
.modificationsList .type {
  width: 18%;
}
.modificationsList .titre {
  width: 24%;
  margin-right: 5px;
  overflow-x: hidden;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.modificationsList .langue {
  width: 18%;
}
.modificationsList .webApp {
  width: 40%;
  overflow-x: hidden;
}
.modificationsHead .modificationsTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5356d0;
  display: flex;
}
.modificationsHead .suivantIcon,
.modificationsTitle .precedentIcon {
  color: #5356d0;
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
}
.modificationsTitle .precedentIcon {
  margin-right: 20px;
}

.modificationsHeadList {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 8px;
}
.modificationsLine {
  font-weight: 400;
  margin-bottom: 2px;
}
.isEntering {
  animation: entrer 1s;
}
.isLeaving {
  animation: sortir 1s;
}
.isEntering2 {
  animation: entrer2 1s;
}
.isLeaving2 {
  animation: sortir2 1s;
}

@keyframes sortir {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-30px);
    opacity: 0;
  }
}
@keyframes entrer {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes sortir2 {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(30px);
    opacity: 0;
  }
}
@keyframes entrer2 {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.citation {
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4%;
}
.citation .title {
  color: white;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 3%;
  text-align: center;
}
.citation .subtitle {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}
.smallBox {
  background-color: white;
  display: flex;
  padding: 10px 30px 20px 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.smallBox .stat {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.smallBox .stat .chiffres {
  font-size: 2rem;
  font-weight: bold;
  color: #5356d0;
}
.smallBox .statIcon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.smallBox .statIcon img {
  width: 60px;
  height: 60px;
}
.smallBox .statIcon .imgBox {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.docsList {
  flex: 1;
  margin-right: 30px;
  font-family: "Montserrat", sans-serif;
}
.docsHead,
.docsLine {
  display: flex;
  justify-content: space-between;
}
.docsHead {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 600;
}
.docsHead input {
  border-top: none;
  border-left: none;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 0.9rem;
}
.docsHead input:focus {
  outline: none;
}
.docsLine {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.docsLine:hover {
  background-color: #dbd8d8;
}
.docsTitle {
  width: 23%;
}
.creationDate {
  width: 19%;
}
.consultNumber {
  width: 15%;
}
.lastConsult {
  width: 20%;
}
.docsLineTitle {
  width: 23%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}
.creationDateLine {
  width: 19%;
  cursor: default;
}
.consultNumberLine {
  width: 15%;
  cursor: default;
  display: flex;
  justify-content: space-between;
}
.lastConsultLine {
  width: 20%;
  cursor: default;
}
.hist {
  width: 7%;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1300px) {
  .citation .title {
    font-size: 2.3rem;
    font-weight: 600;
  }
  .citation .subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 1250px) {
  .accueilBoxes {
    width: 90%;
  }
}
@media (max-width: 1160px) {
  .accueilBoxes {
    width: 80%;
  }
}
@media (max-width: 1050px) {
  .accueilBoxes {
    width: 90%;
  }
}
@media (max-width: 950px) {
  .modificationsHead .modificationsTitle {
    font-size: 1.2rem;
  }
  .citation .title {
    font-size: 2rem;
  }
  .smallBox .statIcon img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 800px) {
  .citation .title {
    font-size: 1.7rem;
  }
  .smallBox .statIcon img {
    width: 40px;
    height: 40px;
  }
  .smallBox .stat .chiffres {
    font-size: 1.7rem;
  }
  .smallBox .stat .type {
    font-size: 0.9rem;
  }
}
@media (max-width: 730px) {
  .modificationsHead .modificationsTitle {
    font-size: 1.1rem;
  }
  .modificationsHeadList {
    font-size: 0.9rem;
  }
  .modifications {
    grid-row: span 5;
  }
}
@media (max-width: 730px) {
  .citation .title {
    font-size: 1.5rem;
  }
  .citation .subtitle {
    font-size: 0.9rem;
  }
  .smallBox .stat .chiffres {
    font-size: 1.5rem;
  }
  .smallBox .stat .type {
    font-size: 0.8rem;
  }
  .smallBox {
    padding: 10px 15px;
  }
}
@media (max-width: 570px) {
  .accueilBoxes {
    width: 95%;
  }
  .citation {
    padding: 0 2%;
  }
  .modificationsHead .suivantIcon,
  .modificationsTitle .precedentIcon {
    font-size: 1.3rem;
  }
}
@media (max-width: 520px) {
  .smallBox .stat .chiffres {
    font-size: 1.3rem;
  }
  .smallBox .stat .type {
    font-size: 0.8rem;
  }
  .smallBox {
    padding: 10px 10px;
  }
  .smallBox .statIcon img {
    width: 35px;
    height: 35px;
  }
  .citation .title {
    font-size: 1.3rem;
  }
  .citation .subtitle {
    font-size: 0.8rem;
  }
  .modificationsHead .modificationsTitle {
    font-size: 1rem;
  }
  .modificationsHeadList {
    font-size: 0.8rem;
  }
  .modifications {
    padding: 15px;
  }
  .modificationsList .titre {
    margin-right: 1px;
  }
  .modificationsTitle .precedentIcon {
    margin-right: 10px;
  }
  .modificationsList .langue {
    width: 15%;
  }
  .modificationsList .webApp {
    width: 43%;
    overflow-x: hidden;
  }
}
@media (max-width: 480px) {
  .modifications {
    padding: 6px;
    margin-top: 15px;
  }
  .modificationsList {
    padding: 0;
  }
  .modificationsHead .suivantIcon,
  .modificationsTitle .precedentIcon {
    font-size: 0.9rem;
  }
  .accueilBoxes {
    column-gap: 8px;
    row-gap: 30px;
    height: 70%;
  }
  .smallBox .stat .chiffres {
    font-size: 1.1rem;
  }
  .smallBox .stat .type {
    font-size: 0.7rem;
  }
  .smallBox {
    padding: 5px;
  }
  .smallBox .statIcon img {
    width: 30px;
    height: 30px;
  }
  .citation .title {
    font-size: 1.3rem;
  }
  .citation .subtitle {
    font-size: 0.8rem;
  }
  .modifications {
    margin-top: 20px;
    grid-row: span 2;
  }
  .citation {
    grid-row: span 7;
  }
  .smallBox {
    grid-row: span 1;
    border-radius: 10px;
  }
  .modificationsHead {
    margin-bottom: 20px;
  }
  .modificationsLine {
    margin-top: 5px;
  }
  .modificationsHeadList {
    font-size: 0.6rem;
  }
  .modificationsHead .modificationsTitle {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  @keyframes sortir {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
  @keyframes entrer {
    from {
      opacity: 0;
      display: none;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes sortir2 {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
  @keyframes entrer2 {
    from {
      opacity: 0;
      display: none;
    }
    to {
      opacity: 1;
    }
  }
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  button {
    background-color: white;
    color: #5356d0;
    border: 2px solid rgb(83, 86, 208, 0.6);
    border-radius: 8px;
    padding: 5px 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    margin: 7px;
    font-weight: 500;
    cursor: pointer;
  }
}
